<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->
<script>
	var mini = true;

	function toggleSidebar() {
		if (mini) {
			console.log("opening sidebar");
			document.getElementById("mySidebar").style.width = "250px";
			document.getElementById("main").style.marginLeft = "250px";
			this.mini = false;
		} else {
			console.log("closing sidebar");
			document.getElementById("mySidebar").style.width = "70px";
			document.getElementById("main").style.marginLeft = "85px";
			this.mini = true;
		}
	}
</script>
<style>
	body {
		font-family: "Lato", sans-serif;
	}
	
	.sidebar {
		margin-left: 0;
		height: 100%;
		width: 75px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(144,0,51);
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 30px;
		white-space: nowrap;
	}
	
	.sidebar a {
		padding: 0px 0px 0px 28px;
		text-decoration: none;
		font-size: 20px;
		color: white;
		display: block;
		transition: 0.3s;
	}
	
	.sidebar a:hover {
		color: #f1f1f1;
	}
	
	.sidebar .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	
	.material-icons,
	.icon-text {
		vertical-align: middle;
	}
	
	.material-icons {
		padding-bottom: 3px;
	}
	
	#main {
		transition: margin-left .5s;
		padding: 16px;
		margin-left: 100px;
	}
	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	
	@media screen and (max-height: 450px) {
		.sidebar {
			padding-top: 0px;
		}
		.sidebar a {
			font-size: 11px;
		}
	}
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="position: fixed;z-index:99; width:100%; background-color:rgb(144,0,51); padding-bottom:15px; padding-top:15px">
	<div class="container-fluid">
		<a class="navbar-brand" href="#" style="color:white"><strong>RateMyTeacher ESPM</strong></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#" style="color: white;"><strong>PÁGINA INICIAL</strong></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" style="color:white"><strong>LISTAGEM</strong></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
						<strong>CATEGORIAS</strong>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: gray;">
						<li><a class="dropdown-item" href="#" style="color: white;"><strong>PROFESSORES</strong></a></li>
						<li><a class="dropdown-item" href="#" style="color:white"><strong>CURSOS</strong></a></li>
						<li><a class="dropdown-item" href="#" style="color:white"><strong>AULAS</strong></a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#" style="color:white"><strong>TODOS</strong></a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="color:white;"><strong>link</strong></a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit" style="color: white; outline: 2px solid gray;border-color:transparent"><strong>BUSCAR</strong></button>
			</form>
		</div>
	</div>
</nav>

<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()" style="margin-top: 55px;">
	<a href="#"><i class="material-icons">edit</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;<strong>AVALIAR</strong></span></a><br>
	<a href="#"><span><i class="material-icons">info</i><span class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;<strong>SOBRE NÓS</strong></strong></span></a><br>
	<a href="#"><i class="material-icons">spa</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;<strong>SERVIÇOS</strong></a></span>
	</a><br>
	<a href="#"><i class="material-icons">email</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;<strong>CONTATO</strong><span></a>
</div>