
<div id="mySidebar" class="sidebar">
	<a href="#"><i class="material-icons">edit</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>AVALIAR</strong></span></a><br>
	<a href="#"><span><i class="material-icons">info</i><span class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>SOBRE NÓS</strong></strong></span></a><br>
	<a href="#"><i class="material-icons">spa</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>SERVIÇOS</strong></a></span>
	</a><br>
	<a href="#"><i class="material-icons">email</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>CONTATO</strong><span></a>
</div>
