<div class="container-fluid">
	<div class="row">
		<div class="col-xxxl-4 container-fluid" style="display: inline-block; max-width:max-content">
			<div class="rankingframe">
				<h1>RANKING</h1>
				<hr>
				<div class="rankingrow">
					<h3>Melhor X</h3>
					<div class="rankingcard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="rankingrow">
					<h3>Melhor Y</h3>
					<div class="rankingcard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="rankingrow">
					<h3>Melhor Z</h3>
					<div class="rankingcard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-xxxl-8 container-fluid" style="display: inline-block; max-width:max-content">
			<div class="rankingframe">
				<h1>MATÉRIAS</h1>
				<hr>
				<div class="row rankingrow">
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row rankingrow">
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row rankingrow">
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row rankingrow">
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
					<div class="col-xl-6 displaycard">
						<div class="card">
							<div class="additional">
								<div class="user-card">
									<div class="level center">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<img class="cardpic" src="https://cdn-icons-png.flaticon.com/512/7253/7253193.png" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
									<div class="points center">
										9,876 Ratings
									</div>
								</div>
								<div class="more-info">
									<h1>Dados</h1>
									<div class="coords">
										<span>2o Semestre</span>
										<span>Desde Jan/2016</span>
									</div>
									<div class="coords">
										<span>4 Cursos</span>
										<span>Híbrido</span>
									</div>
									<div class="stats">
										<div>
											<div class="title">Prêmios</div>
											<i class="fa fa-trophy"></i>
											<div class="value">2</div>
										</div>
										<div>
											<div class="title">Favs</div>
											<i class="fa fa-heart"></i>
											<div class="value">27</div>
										</div>
										<div>
											<div class="title">Alunos</div>
											<i class="fa fa-group"></i>
											<div class="value">723</div>
										</div>
										<div>
											<div class="title">Geral</div>
											<i class="fa fa-thumbs-up"></i>
											<div class="value">69%</div>
										</div>
									</div>
								</div>
							</div>
							<div class="general">
								<h3 style="padding-top: 10px;"><strong>Fundamentos de Marketing</strong></h3>
								<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
								<span class="more">Mouse over the card for more info</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("espaco-head") %>
<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
	}
	
	.card {
		width: 450px;
		height: 250px;
		background-color: #fff;
		background: linear-gradient(#f8f8f8, #fff);
		box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		margin: 1.5rem;
	}
	
	.card h1 {
		text-align: center;
	}
	
	.card .additional {
		position: absolute;
		width: 150px;
		height: 100%;
		background: linear-gradient(#dE685E, #EE786E);
		transition: width 0.4s;
		overflow: hidden;
		z-index: 2;
	}
	
	.card.green .additional {
		background: transparent;
	}
	
	
	.card:hover .additional {
		width: 100%;
		border-radius: 0 5px 5px 0;
	}
	
	.card .additional .user-card {
		width: 150px;
		height: 100%;
		position: relative;
		float: left;
		background-color:rgb(124,0,44)
	}
	
	.card .additional .user-card::after {
		content: "";
		display: block;
		position: absolute;
		top: 10%;
		right: -2px;
		height: 80%;
		border-left: 2px solid rgba(0,0,0,0.025);
	}
	
	.card .additional .user-card .level,
	.card .additional .user-card .points {
	  top: 15%;
	  color: #fff;
	  text-transform: uppercase;
	  font-size: 0.75em;
	  font-weight: bold;
	  background: rgba(0,0,0,0.15);
	  padding: 0.125rem 0.75rem;
	  border-radius: 100px;
	  white-space: nowrap;
	}
	
	.card .additional .user-card .points {
	  top: 85%;
	}
	
	.card .additional .user-card svg {
	  top: 50%;
	}
	
	.card .additional .more-info {
	  width: 300px;
	  float: left;
	  position: absolute;
	  left: 150px;
	  height: 100%;
	  background-color:rgb(124,0,44);
	  padding-top:20px;
	}
	
	.card .additional .more-info h1 {
	  color: #fff;
	  margin-bottom: 0;
	  padding-bottom: 10px;
	}
	
	.card.green .additional .more-info h1 {
	  color: #224C36;
	}
	
	.card .additional .coords {
	  margin: 0 1rem;
	  color: #fff;
	  font-size: smaller;
	}
	
	.card.green .additional .coords {
	  color: #325C46;
	}
	
	.card .additional .coords span + span {
	  float: right;
	}
	
	.card .additional .stats {
	  font-size: 2rem;
	  display: flex;
	  position: absolute;
	  bottom: 1rem;
	  left: 1rem;
	  right: 1rem;
	  top: auto;
	  color: #fff;
	}
	
	.card.green .additional .stats {
	  color: #325C46;
	}
	
	.card .additional .stats > div {
	  flex: 1;
	  text-align: center;
	}
	
	.card .additional .stats i {
	  display: block;
	}
	
	.card .additional .stats div.title {
	  font-size: 0.75rem;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	.card .additional .stats div.value {
	  font-size: 1.5rem;
	  font-weight: bold;
	  line-height: 1.5rem;
	}
	
	.card .additional .stats div.value.infinity {
	  font-size: 2.5rem;
	}
	
	.card .general {
	  width: 300px;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 1;
	  box-sizing: border-box;
	  padding: 1rem;
	  padding-top: 0;
	}
	
	.card .general .more {
	  position: absolute;
	  bottom: 1rem;
	  right: 1rem;
	  font-size: 0.9em;
	}
	
	.checked {
	  color: rgb(255, 208, 0);
	}
	
	.fa-star-half {
	  color: rgb(255, 208, 0);
	}
	
	.btn-outline-success {
	  outline:2px solid gray !important;
	}
	
	.profs {
	  position: inherit;
	  text-align: left;
	  justify-content: left;
	  align-items: left;
	}
	
	.halfstarbox {
	  width: 11px;
	  height: 15px;
	  position: relative;
	  display: inline-flex;
	}
	
	.starbox {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	
	.starbox-overlay {
	  z-index: 9;
	}

	.rankingframe {
		margin: 20px;
		text-align: center;
		background-color: #d9d9d9;
		border-radius: 20px;
		padding: 20px;
		text-wrap:wrap;
	}
	
	.rankingrow {
		max-width: max-content;
	}
	
	.rankingcard {
		text-align: left;
	}
	
	.displaycard {
		text-align: left;
	}
</style>