<div class="bemvindo">
	<div class="bemvindotxt">
		<h1><strong>Olá! Bem vindo ao RMT ESPM!</strong></h1>
		<h3 style="max-width: 390px; margin:0 auto">Um site feito por alunos, para alunos. Sinta-se livre para expressar suas opiniões abertamente!</h3>
	</div>
</div>

<br>

<div class="container-fluid" style="margin-right:0 auto;text-align: center;">
	<div class="row" style="margin:0 auto; text-align:center;">
		<div class="col-sm-6" style="margin:0 auto; text-align: center; width: max-content;">
			<h2>Já é registrado?</h2>
			<h4>Faça login aqui!</h4>
			<br>
			<label for="RA">RA: </label>
			<input type="text" name="RA" id="ra">
			<br>
			<label for="SENHA">Senha: </label>
			<input type="text" name="Senha" id="senha">
			<br>
			<button onclick="Login()">LOGIN</button>
		</div>
		<div class="col-sm-6" style="margin:0 auto; text-align: center; width: max-content;">
			<h2>É novo por aqui?</h2>
			<h4>Registre-se!</h4>
			<br>
			<label for="newnome">Nome: </label>
			<input type="text" name="newnome" id="newnome">
			<br>
			<label for="newRA">RA: </label>
			<input type="text" name="newRA" id="newra">
			<br>
			<label for="newSENHA">Senha: </label>
			<input type="text" name="newSenha" id="newsenha">
			<br>
			<button onclick="Registrar()">REGISTRAR</button>
		</div>
	</div>
</div>

<%- contentFor("espaco-rodape") %>
<script>
	function Registrar() {
		let newname = document.getElementById("newnome").value;
		let nnome = newname.toString()
		let nra = parseInt(document.getElementById("newra").value);
		let ssenha = document.getElementById("newsenha").value;
		let nsenha = ssenha.toString();
		var us = {
			nome:nnome,
			ra:nra,
			senha:nsenha
		};
		window.location.href = "/registrado?us=" + JSON.stringify(us);
	}

	function Login() {
		let logra = parseInt(document.getElementById("ra").value);
		let logsenha = (document.getElementById("senha").value).toString();
		var ulog = {
			ra:logra,
			senha:logsenha
		};
		window.location.href = "/usuario?ulog=" + JSON.stringify(ulog);
	}
</script>