<h1 style="text-align: center;">SOBRE NÓS</h1>

<br>

<div style="margin: 20px; text-align:center">
	<div class="sobretexto">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, odit possimus voluptatibus ipsam dignissimos exercitationem tempore numquam repellendus dolores cumque assumenda quam mollitia adipisci cupiditate et nam asperiores quod itaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, voluptatum explicabo perspiciatis laboriosam assumenda quasi soluta sit quod laborum voluptate mollitia rem illum tempora repellat adipisci? Cum culpa perferendis temporibus.</p>
	</div>
</div>

<div class="sobrecardcontainer">
	<div class="container-fluid" style="text-align: center; align-items:center">
		<div class="row">
			<div class="col-lg-6">
				<a class="card" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="rafa.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511971210081'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Rafael Ambrosio</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
			</div>
			<div class="col-lg-6">
				<a class="card" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="gabriel.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511972600036'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Gabriel Fuzita</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<a class="card" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="soldado.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511996982686'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Felipe Arruda</strong></h3>
						<p style="text-wrap: wrap;">Ex-militar, Meus hobbies são: assistir filmes e animes, ler livros de ficção e mangás.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
			</div>
			<div class="col-lg-6">
				<a class="card" style="color: black;">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="luigi.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511994725454'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Luigi Tomassone</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<%- contentFor("espaco-head") %>
<link rel="stylesheet" href="/public/css/card.css" />
<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
	}
	
	.btn-outline-success {
	  outline:2px solid gray !important;
	}
	
	.profs {
	  position: inherit;
	  text-align: left;
	  justify-content: left;
	  align-items: left;
	}
	
	.halfstarbox {
	  width: 11px;
	  height: 15px;
	  position: relative;
	  display: inline-flex;
	}
	
	.starbox {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	
	.starbox-overlay {
	  z-index: 9;
	}

	.sobrecardcontainer {
		text-align: center;
		align-items: center;
		min-width: max-content;
		margin: 0 auto;
		padding: 20px;
		background-color: #d9d9d9;
		border-radius: 20px;
	}

	.sobretexto {
		text-align: center;
		align-items: center;
		max-width: 60%;
		margin: auto;
		padding: 20px;
		background-color: #d9d9d9;
		border-radius: 20px;
	}

	.row {
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	.card {
		text-align: left;
	}
</style>