<h1 style="text-align: center;">SOBRE NÓS</h1>

<br>

<div style="margin: 20px; text-align:center">
	<div class="sobretexto">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, odit possimus voluptatibus ipsam dignissimos exercitationem tempore numquam repellendus dolores cumque assumenda quam mollitia adipisci cupiditate et nam asperiores quod itaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, voluptatum explicabo perspiciatis laboriosam assumenda quasi soluta sit quod laborum voluptate mollitia rem illum tempora repellat adipisci? Cum culpa perferendis temporibus.</p>
	</div>
</div>

<div class="sobrecardcontainer">
	<div class="container-fluid" style="text-align: center; align-items:center">
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="rafa.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511971210081'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Rafael Ambrosio</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="gabriel.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511972600036'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Gabriel Fuzita</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="soldado.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511996982686'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Felipe Arruda</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="additional">
						<div class="user-card">
							<div class="level center">
								2º Semestre
							</div>
							<img src="luigi.jpg" style="max-width: 110px; max-height: 110px; position:relative; margin-top: 70px; margin-left: 20px; border-radius:50%">
							<div class="points center">
								ESPM Tech
							</div>
						</div>
						<div class="more-info">
							<h1>Dados</h1>
							<div class="coords">
								<span>Sistemas de Informação</span>
								<span>20 Anos</span>
							</div>
							<div class="coords">
								<span>Programador</span>
								<span>Lindo</span>
							</div>
							<div class="stats">
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.instagram.com/rafambrosioo/'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-instagram"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.facebook.com/profile.php?id=100005259106410'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-facebook"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://wa.me/5511994725454'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-whatsapp"></i>
									</button>
									<div class="value"></div>
								</div>
								<div>
									<div class="title"></div>
									<button onclick="location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" type="button" style="background-color: transparent;border:none; color:white">
										<i class="fa fa-paper-plane"></i>
									</button>
									<div class="value"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="general">
						<h3 style="padding-top: 10px;"><strong>Luigi Tomassone</strong></h3>
						<p style="text-wrap: wrap;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
						<span class="more">Mouse over the card for more info</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("espaco-head") %>
<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
	}
	
	.card {
		width: 450px;
		height: 250px;
		background-color: #fff;
		background: linear-gradient(#f8f8f8, #fff);
		box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		margin: 1.5rem;
	}
	
	.card h1 {
		text-align: center;
	}
	
	.card .additional {
		position: absolute;
		width: 150px;
		height: 100%;
		background: linear-gradient(#dE685E, #EE786E);
		transition: width 0.4s;
		overflow: hidden;
		z-index: 2;
	}
	
	.card.green .additional {
		background: transparent;
	}
	
	
	.card:hover .additional {
		width: 100%;
		border-radius: 0 5px 5px 0;
	}
	
	.card .additional .user-card {
		width: 150px;
		height: 100%;
		position: relative;
		float: left;
		background-color:rgb(124,0,44)
	}
	
	.card .additional .user-card::after {
		content: "";
		display: block;
		position: absolute;
		top: 10%;
		right: -2px;
		height: 80%;
		border-left: 2px solid rgba(0,0,0,0.025);
	}
	
	.card .additional .user-card .level,
	.card .additional .user-card .points {
	  top: 15%;
	  color: #fff;
	  text-transform: uppercase;
	  font-size: 0.75em;
	  font-weight: bold;
	  background: rgba(0,0,0,0.15);
	  padding: 0.125rem 0.75rem;
	  border-radius: 100px;
	  white-space: nowrap;
	}
	
	.card .additional .user-card .points {
	  top: 85%;
	}
	
	.card .additional .user-card svg {
	  top: 50%;
	}
	
	.card .additional .more-info {
	  width: 300px;
	  float: left;
	  position: absolute;
	  left: 150px;
	  height: 100%;
	  background-color:rgb(124,0,44);
	  padding-top:20px;
	}
	
	.card .additional .more-info h1 {
	  color: #fff;
	  margin-bottom: 0;
	  padding-bottom: 10px;
	}
	
	.card.green .additional .more-info h1 {
	  color: #224C36;
	}
	
	.card .additional .coords {
	  margin: 0 1rem;
	  color: #fff;
	  font-size: smaller;
	}
	
	.card.green .additional .coords {
	  color: #325C46;
	}
	
	.card .additional .coords span + span {
	  float: right;
	}
	
	.card .additional .stats {
	  font-size: 2rem;
	  display: flex;
	  position: absolute;
	  bottom: 1rem;
	  left: 1rem;
	  right: 1rem;
	  top: auto;
	  color: #fff;
	}
	
	.card.green .additional .stats {
	  color: #325C46;
	}
	
	.card .additional .stats > div {
	  flex: 1;
	  text-align: center;
	}
	
	.card .additional .stats i {
	  display: block;
	}
	
	.card .additional .stats div.title {
	  font-size: 0.75rem;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	.card .additional .stats div.value {
	  font-size: 1.5rem;
	  font-weight: bold;
	  line-height: 1.5rem;
	}
	
	.card .additional .stats div.value.infinity {
	  font-size: 2.5rem;
	}
	
	.card .general {
	  width: 300px;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 1;
	  box-sizing: border-box;
	  padding: 1rem;
	  padding-top: 0;
	}
	
	.card .general .more {
	  position: absolute;
	  bottom: 1rem;
	  right: 1rem;
	  font-size: 0.9em;
	}
	
	.checked {
	  color: rgb(255, 208, 0);
	}
	
	.fa-star-half {
	  color: rgb(255, 208, 0);
	}
	
	.btn-outline-success {
	  outline:2px solid gray !important;
	}
	
	.profs {
	  position: inherit;
	  text-align: left;
	  justify-content: left;
	  align-items: left;
	}
	
	.halfstarbox {
	  width: 11px;
	  height: 15px;
	  position: relative;
	  display: inline-flex;
	}
	
	.starbox {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	
	.starbox-overlay {
	  z-index: 9;
	}

	.sobrecardcontainer {
		text-align: center;
		align-items: center;
		max-width: max-content;
		margin: 0 auto;
		padding: 20px;
		background-color: #d9d9d9;
		border-radius: 20px;
	}

	.sobretexto {
		text-align: center;
		align-items: center;
		max-width: 60%;
		margin: auto;
		padding: 20px;
		background-color: #d9d9d9;
		border-radius: 20px;
	}

	.row {
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	.card {
		text-align: left;
	}
</style>