<div class="bemvindo">
	<div class="bemvindotxt">
		<h1><strong>Olá! Bem vindo ao RMT ESPM!</strong></h1>
		<h3 style="max-width: 390px; margin:0 auto">Um site feito por alunos, para alunos. Sinta-se livre para expressar suas opiniões abertamente!</h3>
	</div>
</div>

<br>

<div class="container-fluid" style="margin-right:0 auto;text-align: center;">
	<div class="row" style="margin:0 auto; text-align:center;">
		<div class="col-sm-6" style="margin:0 auto; text-align: center; width: max-content;">
			<img src="https://www.pngkey.com/png/full/52-523516_empty-profile-picture-circle.png" style="max-width: 150px; max-height: 150px; padding: 20px">
			<h2><strong>USERNAME</strong></h2>
			<h4><strong>RA: 123456789</strong></h4>
		</div>
		<div class="col-sm-6" style="margin:0 auto; text-align: center; width: max-content;">
			<h2><strong>Informações</strong></h2>
			<h4>OPCIONAL</h4>
			<br>
			<label for="curso">Curso: </label>
			<input type="text" name="curso" id="cur">
			<br>
			<label for="semestre">Semestre: </label>
			<input type="text" name="semestre" id="sem">
			<br>
			<button><strong>ATUALIZAR</strong></button>
		</div>
	</div>
	<div class="row" style="margin:0 auto; text-align:center;">
		<div class="col-sm-6" style="margin:0 auto; text-align: center; width: max-content;">
			<h2><strong>MINHAS AVALIAÇÕES</strong></h2>
		</div>
	</div>
</div>